
*{
  background-color:rgb(238, 241, 243);
}
/* index.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card {
  display: flex;
  flex-direction: row;
  background: rgb(169, 101, 101);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 600px;
  height: 600px;
}

.form-section,
.image-section {
  flex: 1;
  padding: 20px;
}

.image-section {
  background: url('./images/login.png') no-repeat center center;
  background-size: cover;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:beige;
}

.form-section button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #0056b3;
}

